                 CERTIFICATE OF DEPOSITION OFFICER

       I, ^reporter.name^, acting as ^reporter.capacity^, certify that
^deposition.witness^ was duly ^cert.administrationVerb^ and that this
deposition accurately records the witness's testimony.

^cert.reviewStatement^

       Certified on ^cert.certificationDate^.

                 ______________________________________
                 ^reporter.name^
                 ^reporter.capacity^
