                          NO.: ^caption.causeNumber^
^caption.plaintiffLabel^               )    ^caption.court^
^caption.plaintiffs^                   )
VS.                                   )    ^caption.countyCourtLine^
^caption.defendantLabel^               )
^caption.defendants^                   )    ^caption.judicialDistrictLine^
                 REPORTER'S CERTIFICATION
                 DEPOSITION OF ^deposition.witness^
                       ^deposition.date^
       I, ^reporter.name^, Certified Shorthand
Reporter in and for the State of Texas, hereby certify to
the following:
       That the witness, ^deposition.witness^, was duly affirmed
by the officer and that the transcript of the oral
deposition is a true record of the testimony given by the
witness;
       That examination and signature of the witness to
the deposition transcript was waived by the witness and
agreement of the parties at the time of the deposition;
       That the original deposition was delivered to
^cert.custodialAttorney^;
       That the amount of time used by each party at
the deposition is as follows:
^cert.timeUsedLines^

