                          NO.: ^caption.causeNumber^
^caption.plaintiffLabel^               )    ^caption.court^
^caption.plaintiffs^                   )
VS.                                   )    ^caption.countyCourtLine^
^caption.defendantLabel^               )
^caption.defendants^                   )    ^caption.judicialDistrictLine^
                 REPORTER'S CERTIFICATION
                 DEPOSITION OF ^deposition.witness^
                       ^deposition.date^
       I, ^reporter.name^, Certified Shorthand
Reporter in and for the State of Texas, hereby certify to
the following:
       That the witness, ^deposition.witness^, was duly affirmed
by the officer and that the transcript of the oral
deposition is a true record of the testimony given by the
witness;
       That the deposition transcript was submitted on
^cert.submissionDate^ to the witness or to the attorney
for the witness for examination, signature and return to
me by ^cert.returnDeadline^;
       That the amount of time used by each party at
the deposition is as follows:
^cert.timeUsedLines^
       That pursuant to information given to the
deposition officer at the time said testimony was taken,

