       If returned, the original deposition was
delivered to ^cert.custodialAttorney^, Custodial
Attorney;
       That $^cert.charges^ is the deposition officer's
charges to the ^cert.chargesResponsibleParty^ for preparing the original
deposition transcript and any copies of exhibits;
       That the deposition was delivered in accordance
with Rule 203.3, and that a copy of this certificate was
served on all parties shown herein on ^cert.serviceDate^ and filed with the
Clerk.
       Certified to by me this ^cert.furtherCertificationDate^.

                 ______________________________________
                 ^reporter.name^, Texas CSR ^reporter.csrNumber^
                 Expiration Date: ^reporter.csrExpirationDate^
                 Firm Registration No. ^reporter.firmRegistrationNumber^
                 ^reporter.address^
                 ^reporter.phone^







