^caption.court^
^caption.causeNumber^
^caption.caseStyle^
^deposition.witness^
^deposition.date^
^deposition.volumeLabel^
^deposition.proceedingLocation^
^appearances.counsel^
^index.examinations^
^index.changesAndSignature^
^index.reportersCertification^
^cert.signatureDispositionBasis^
^cert.submissionDate^
^cert.returnDeadline^
^cert.returnStatus^
^cert.custodialAttorney^
^cert.charges^
^cert.serviceDate^
^cert.certificationDate^
^reporter.name^
^reporter.csrNumber^
^reporter.csrExpirationDate^
^reporter.firmName^
^reporter.firmRegistrationNumber^
^reporter.address^
^reporter.phone^
