       I, ^deposition.witness^, have read the foregoing
deposition and hereby affix my signature that same is
true and correct, except as noted above.


                       __________________________________________
                       ^deposition.witness^


THE STATE OF ________________ )
COUNTY OF ___________________ )
       Before me, ________________, on this day personally
appeared ^deposition.witness^, known to me (or proved to me
under oath of or through ________________) (description of
identity card or other document) to be the person whose
name is subscribed to the foregoing instrument and
acknowledged to me that they executed the same for the
purposes and consideration therein expressed.
       Given under my hand and seal of office this ____
day of __________________, ______.


                 ______________________________________
                 NOTARY PUBLIC IN AND FOR
                 THE STATE OF ________________

