       That $^cert.charges^ is the deposition officer's
charges to the ^cert.chargesResponsibleParty^ for preparing the original
deposition transcript and any copies of exhibits;
       That pursuant to information given to the
deposition officer at the time said testimony was taken,
the following includes counsel for all parties of record:
^cert.counselLines^
       That a copy of this certificate was served on
all parties shown herein on ^cert.serviceDate^ and filed with
the Clerk pursuant to Rule 203.3.
       I further certify that I am neither counsel for,
related to, nor employed by any of the parties or
attorneys in the action in which this proceeding was
taken, and further that I am not financially or otherwise
interested in the outcome of the action.
       Certified to by me this ^cert.certificationDate^.

                 ______________________________________
                 ^reporter.name^, Texas CSR ^reporter.csrNumber^
                 Expiration Date: ^reporter.csrExpirationDate^
                 Firm Registration No. ^reporter.firmRegistrationNumber^
                 ^reporter.address^
                 ^reporter.phone^


